{% doc %}
    Cart Item Price Component
    Displays the price of a cart item, including both the final price and compare-at price if available.
    Shows a strikethrough price when there's a discount (compare_at_price exists).

    @param {object} item - The cart item object containing variant and product information

    @example
    {%- render 'cart.item-price',
        item: cart_item
    -%}
{% enddoc %}

{%- liquid
    if item.variant.compare_at_price != blank
        assign item_compare_at_price = item.variant.compare_at_price | times: item.quantity | money_without_trailing_zeros
    else
        assign item_compare_at_price = item.product.compare_at_price | times: item.quantity | money_without_trailing_zeros
    endif
    assign item_final_line_price = item.final_line_price | money_without_trailing_zeros
-%}

<div class="flex space-x-2">
    <span class="">
        {{ item_final_line_price }}
    </span>
    {%- if item.variant.compare_at_price != blank
        or item.product.compare_at_price != blank
    -%}
        <span class="line-through text-surface-400">
            {{ item_compare_at_price }}
        </span>
    {%- endif -%}
</div>
