<div class="p-6 lg:p-8">
  <h1 class="text-xl">
    {{- page.title | default: shop.name -}}
  </h1>
</div>

{% schema %}
{
    "name": "Main Page",
    "settings": [],
    "blocks": []
}

{% endschema %}
